.places {
    max-width: 1000px;
    margin: 0px auto;
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places h1 {
    width: 100%;
    padding-left: 22px;
    font-size: 30px;
    text-align: left;
}

.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

.places article h2 {
    font-size: 30px;
    text-align: center;
}

.price_by_night {
    color: #FF5A5F;
    border: 4px solid #FF5A5F;
    max-width: 65px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    position:relative;
    right: 20px;
    margin-top: -2em;
}


.information {
    font-size: 12px;
    height:80px;
    border-top: solid #DDDDDD 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.max_guest {
    background-image: url(../images/icon_group.png);
    background-repeat: no-repeat;
    width: 100px;
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: center;
    padding: 1em 0;
}

.number_rooms {
    width: 100px;
    background-image: url(../images/icon_bed.png);
    background-repeat: no-repeat;
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: center;
    padding: 1em 0;
}

.number_bathrooms {
    width: 100px;
    background-image: url(../images/icon_bath.png);
    background-repeat: no-repeat;
    display: flex;
    height: inherit;
    flex-direction: column;
    justify-content: center;
    padding: 1em 0;
}

.user{
    font-size: 14px;
    text-align: left;
    margin-top: 15px;
}
.description{
    font-size: 14px;
    text-align: left;
    margin-top: 7px;
    margin-bottom: 0px;
}

.amenities, .reviews {
    margin-top: 40px;
    width: 100%;
    height: inherit;
}

.amenities ul {
    margin-bottom: 0px;
}

.amenities ul, .reviews ul {
    list-style: none;
    padding: 0;
    display: block;
}

.amenities ul li {
    height: 25px;
    width: 25px;
    background-position: center left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    margin-bottom: 10px;
    align-items: end;
}

.amenities ul li p {
    width: 100px;
    margin-left: 40px;
    padding-top: 8px;
    font-size: 16px;
}

.amenities h2, .reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #DDDDDD;
    text-align: left;
    padding-bottom: 10px;  
}

.amenities_tv {
    background-image: url(../images/icon_tv.png);
}

.amenities_wifi {
    background-image: url(../images/icon_wifi.png);
}

.amenities_pet {
    background-image: url(../images/icon_pets.png);
}

.amenities_tv, .amenities_pet, .amenities_wifi {
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
}

.reviews h3 {
    font-size: 14px;
  }

.reviews p {
    font-size: 12px;
  }
